@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background-color: var(--background-color);
    font-family: "Poppins", sans-serif;
    color: var(--font-color);
}

.light-theme {
    --background-color: white;
    --hover-background-color: linear-gradient(black, black) padding-box, var(--gradient) border-box;
    --font-color: black;
    --hover-font-color: white;
    --divider-color: #9D9D9D;
    --svg-color: invert(0%) sepia(92%) saturate(31%) hue-rotate(295deg) brightness(97%) contrast(101%);
    --gradient: linear-gradient(to right, rgba(19, 176, 245, 1), rgba(231, 15, 170, 1));
    --link-cv-gradient: linear-gradient(white, white) padding-box, var(--gradient) border-box;
    --box-shadow: 0px 6px 10px 0px hsla(0, 0%, 0%, 0.14),
        0px 1px 18px 0px hsla(0, 0%, 0%, 0.12),
        0px 3px 5px -1px hsla(0, 0%, 0%, 0.2);
}

.dark-theme {
    --background-color: black;
    --hover-background-color: linear-gradient(white, white) padding-box, var(--gradient) border-box;
    --font-color: white;
    --hover-font-color: black;
    --divider-color: #D9D9D9;
    --svg-color: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
    --gradient: linear-gradient(to right, rgb(149 114 252), rgb(67 231 173), rgb(226 212 92));
    --link-cv-gradient: linear-gradient(black, black) padding-box, var(--gradient) border-box;
    --box-shadow: 0px 24px 38px 3px hsla(0, 0%, 0%, 0.14),
        0px 9px 46px 8px hsla(0, 0%, 0%, 0.12),
        0px 11px 15px -7px hsla(0, 0%, 0%, 0.2);
}



/*FORMATAÇÕES GERAIS*/
header {
    width: 1193px;
    height: 59px;
    margin: auto;
    margin-top: 49px;
}

main {
    width: 1193px;
    margin: auto;
}

footer {
    width: 1193px;
    height: 59px;
    margin: auto;
    margin-top: 49px;
}

dialog {
    width: 500px;
    height: 500px;
    background-color: #D9D9D9;
    margin: auto;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

a:hover {
    color: var(--divider-color);
    transition: .3s;
}

/*FORMATAÇÃO HEADER*/
header ul {
    display: flex;
    float: right;
}

header ul li {
    margin-right: 67px;
}

header nav p {
    float: left;
    align-items: baseline;
    justify-content: baseline;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
}

header span {
    float: right;
}

header span img {
    width: 19px;
    margin-top: -8px;
    margin-right: 20px;
    filter: var(--svg-color);
}

header button {
    width: 35px;
    background-color: var(--background-color);
    border: none;
    cursor: pointer;
}

header button img {
    width: 35px;
    margin-bottom: -7px;
}

/*FORMATAÇÃO APRESENTAÇÃO*/
#presentation p {
    width: 650px;
    margin-top: 265px;
    font-size: 30px;
    font-weight: bold;
}

#presentation p span {
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#presentation a {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    font-size: 19px;
    font-weight: bold;
    color: var(--font-color);
    text-transform: uppercase;
    background: var(--link-cv-gradient);
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 7px;
}

#presentation a:hover {
    background: var(--hover-background-color);
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 7px;
    color: var(--hover-font-color);
    transition: .5s;
}

#presentation a i {
    margin-left: 8px;
    margin-top: -4.5px;
}

#presentation img {
    float: right;
    width: 349px;
    height: 349px;
    border-radius: 50%;
    margin-top: -340px;
}

/*FORMATAÇÃO TECH STACKS*/
#stacks {
    margin-top: 180px;
}

#stacks h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}

#stacks div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

#stacks div img {
    margin: auto;
}

#stacks button {
    width: 100px;
    height: 40px;
    border: 1px solid;
    border-radius: 7px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: var(--font-color);
    text-transform: uppercase;
    margin-left: 15px;
    background: var(--link-cv-gradient);
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 7px;
}
#stacks button:hover{
    background: var(--hover-background-color);
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 7px;
    color: var(--hover-font-color);
    transition: .5s;
}

#stacks dialog p {
    margin: 10px 15px 10px 15px;
    text-align: justify;
}

/*FORMATAÇÃO PROJETOS*/
#projects {
    margin-top: 214px;
    font-size: 14px;
}

#projects h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    margin-bottom: 100px;
}

#box-projects {
    width: 1210px;
    height: 835px;
    margin-top: 80px;
}

#box-projects div {
    width: 280px;
    height: 367px;
    border: 1px solid var(--divider-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#box1, #box2, #box3 {
    float: right;
    display: flex;
    align-items: center;
    margin-right: 50px;
    box-shadow: var(--box-shadow);
}

#box1 {
    margin-right: 130px;
}

#box1 div {
    height: 200px;
    margin-bottom: -115px;
    border: none;
}

#box1 img {
    width: 278px;
    height: 170px;
    margin-top: -110px;
    border-radius: 10px;
}

#box1 h4 {
    margin-top: -55px;
}

#box1 p {
    text-align: justify;
    padding-right: 18px;
    padding-left: 18px;
}

#box2 div {
    height: 200px;
    margin-bottom: -130px;
    border: none;
}

#box2 img {
    width: 278px;
    height: 170px;
    margin-top: -130px;
    border-radius: 10px;
}

#box2 h4 {
    margin-top: -30px;
}

#box2 p {
    text-align: justify;
    padding-right: 18px;
    padding-left: 18px;
}

#box3 div {
    height: 200px;
    margin-bottom: -250px;
    border: none;
}

#box3 img {
    width: 280px;
    margin-top: -250px;
    border-radius: 10px;
}

#box3 h4 {
    margin-top: -50px;
}

#box3 p {
    text-align: justify;
    padding-right: 18px;
    padding-left: 18px;
}

#box4, #box5, #box6 {
    float: right;
    display: flex;
    align-items: center;
    margin-right: 50px;
    margin-top: 100px;
    box-shadow: var(--box-shadow);
}

#box4 {
    margin-right: 130px;
}

#box4 div {
    height: 200px;
    margin-bottom: -115px;
    border: none;
}

#box4 img {
    width: 279px;
    height: 172px;
    margin-top: -110px;
    border-radius: 10px;
}

#box4 h4 {
    margin-top: -50px;
}

#box4 p {
    text-align: justify;
    padding-right: 18px;
    padding-left: 18px;
}

#box5 img {
    width: 280px;
    height: 170px;
    margin-top: -130px;
    border-radius: 10px;
}

#box5 div {
    height: 200px;
    margin-bottom: -130px;
    border: none;
}

#box5 h4 {
    margin-top: -30px;
}

#box5 p {
    text-align: justify;
    padding-right: 18px;
    padding-left: 18px;
}

#box6 div {
    height: 200px;
    margin-bottom: -130px;
    border: none;
}

#box6 img {
    width: 280px;
    height: 170px;
    margin-top: -130px;
    border-radius: 10px;
}

#box6 h4 {
    margin-top: -30px;
}

#box6 p {
    text-align: justify;
    padding-right: 18px;
    padding-left: 18px;
}

/*FORMATAÇÃO FOOTER*/
footer span img {
    margin-right: 20px;
}

footer>p {
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
}

#contact-information {
    float: right;
    display: flex;
    margin-top: -28px;
    margin-right: 15px;
}

#contact-information li {
    margin-right: 30px;
}

#contact .icons img {
    float: right;
    width: 19px;
    margin-top: -28px;
    margin-right: 20px;
    margin-bottom: 98px;
    filter: var(--svg-color);
}

#divider {
    width: 1180px;
    height: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--divider-color);
}

#end-nav {
    float: right;
    display: flex;
    margin-right: -159px;
}

#end-nav li {
    margin-right: 67px;
}

/*ANIMAÇÃO*/
[data-anime] {
    opacity: 0;
    transition: .7s;
}

/* [data-anime="left"]{
    transform: translate3d(-50px, 0, 0);
} */
[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}