:root {
  --color-black: #090a11;
  --color-black-hover: #1a1b25;
  --color-white: #fdfcfd;
  --color-green: #13fba7;
  --color-blue: #73f9f1;
  --color-red: #ff4b61;
  --color-pink: #fd37c9;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2.5rem;
  --font-size-3xl: 3rem;
  --boxSize: 4px;
  --gutter: 2px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Ubuntu Sans", sans-serif, monospace;
  color: var(--color-white);
  background-color: var(--color-black);
}
